NginepAjaClientJSP/src/conf/xml-resources/web-service-references/UserWS/wsdl/localhost_8080/NginepAja/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://peter.nginepaja.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://peter.nginepaja.com/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://peter.nginepaja.com/" schemaLocation="http://localhost:8080/NginepAja/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="showHouses">
<part name="parameters" element="tns:showHouses"/>
</message>
<message name="showHousesResponse">
<part name="parameters" element="tns:showHousesResponse"/>
</message>
<message name="showBooking">
<part name="parameters" element="tns:showBooking"/>
</message>
<message name="showBookingResponse">
<part name="parameters" element="tns:showBookingResponse"/>
</message>
<message name="insertChat">
<part name="parameters" element="tns:insertChat"/>
</message>
<message name="insertChatResponse">
<part name="parameters" element="tns:insertChatResponse"/>
</message>
<message name="showHouse">
<part name="parameters" element="tns:showHouse"/>
</message>
<message name="showHouseResponse">
<part name="parameters" element="tns:showHouseResponse"/>
</message>
<message name="book">
<part name="parameters" element="tns:book"/>
</message>
<message name="bookResponse">
<part name="parameters" element="tns:bookResponse"/>
</message>
<portType name="UserWS">
<operation name="showHouses">
<input wsam:Action="http://peter.nginepaja.com/UserWS/showHousesRequest" message="tns:showHouses"/>
<output wsam:Action="http://peter.nginepaja.com/UserWS/showHousesResponse" message="tns:showHousesResponse"/>
</operation>
<operation name="showBooking">
<input wsam:Action="http://peter.nginepaja.com/UserWS/showBookingRequest" message="tns:showBooking"/>
<output wsam:Action="http://peter.nginepaja.com/UserWS/showBookingResponse" message="tns:showBookingResponse"/>
</operation>
<operation name="insertChat">
<input wsam:Action="http://peter.nginepaja.com/UserWS/insertChatRequest" message="tns:insertChat"/>
<output wsam:Action="http://peter.nginepaja.com/UserWS/insertChatResponse" message="tns:insertChatResponse"/>
</operation>
<operation name="showHouse">
<input wsam:Action="http://peter.nginepaja.com/UserWS/showHouseRequest" message="tns:showHouse"/>
<output wsam:Action="http://peter.nginepaja.com/UserWS/showHouseResponse" message="tns:showHouseResponse"/>
</operation>
<operation name="book">
<input wsam:Action="http://peter.nginepaja.com/UserWS/bookRequest" message="tns:book"/>
<output wsam:Action="http://peter.nginepaja.com/UserWS/bookResponse" message="tns:bookResponse"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="showHouses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertChat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showHouse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="book">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8080/NginepAja/UserWS"/>
</port>
</service>
</definitions>